@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400..700;1,9..144,400..700&family=Inter:wght@300..700&family=Overpass+Mono:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Fraunces", Georgia, serif;
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "Overpass Mono", monospace;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-slate-950 text-slate-100 antialiased selection:bg-indigo-500 selection:text-white transition-colors duration-300;
  }
}